node_modules
.idea
.DS_Store
.cat
*.log
_cat_md.json
app/**/cat-project/cache/*
app/**/cat-project/lib/*
app/**/cat-project/reports/*
app/**/cat-project/logs/*
app/**/cat-project/target/*

app/todomvc/**/cat-project/cache/*
app/todomvc/**/cat-project/lib/*
app/todomvc/**/cat-project/reports/*
app/todomvc/**/cat-project/logs/*
app/todomvc/**/cat-project/target/*
